# Игнорировать исходные данные
*.osm
*.gpx
*.tif

# Игнорировать скомпилированные слои
*.idx
*.mlp
*.db
map.name

# Игнорировать кэш Python
__pycache__/
*.pyc

# Сборка исполняемых файлов
build/
dist/
*.spec
*.exe

# Игнорировать прочее
*.geojson
*.dmp
.coverage
