# Игнорировать исходные данные
*.osm
*.gpx

# Игнорировать скомпилированные слои
*.idx
*.mlp
*.db
map.name

# Игнорировать кэш Python
__pycache__/
*.pyc

# Игнорировать прочее
*.geojson
promt.txt
*.dmp
